<div class="container">
  <h1>COW -Twitter</h1>

  <ul>
    <li><a href="/">
      Home</a></li>
    <li><a href="/users">
      Users</a></li>
    <li><a href="/users/profile/<%= @current_user.id %>">
      My Profile</a></li>
  </ul>

  <h2>Users</h2>
  <table>

    <% if @users %>
      <% @users.each do |user| %>
        <% @user_id = user.id %>
        <% (@current_user.followees.include?(user)) ? @connection_change = 'unfollow' : @connection_change = 'follow' %>
        <tr>
          <td><a href="/users/profile/<%= user.id %>">
      <%= user.username %></a>
          </td>
          <td>
            <form  action=<%="/users/#{@connection_change}/#{@user_id}"%> method='post'>
              <input type='submit' value=<%= "#{@connection_change}"%> />
            </form>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
